<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>聊天工作室</title>
    <!-- 指定路径已经修改。-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>  <!-- 存在这个文件，并且是一个即时函数-->
    <script type="text/javascript" src="/ws/index.js"></script>
    <script type="text/javascript" src="/javascripts/chat.js"></script>

    <!--<script type="text/javascript" src="/javascripts/browser.js"></script>-->
    <!----------------------------------------------------------------------------------------------->
    <!--<link rel="stylesheet" type="text/css" href="../public/css/main.css">-->
    <!--<script src="../javascripts/jquery.min.js"></script>-->
    <!--<script src="/socket.io/socket.io.js"></script>-->
    <!--<script src="../javascripts/chat.js"></script>-->
</head>
<body>
<div>
    <div class="header">
        <h1 style="text-align:center">聊天工作室</h1>
    </div>
    <div class="bodyer">
        <div class="left-list">
            <!--左边列表 -->

        </div>
        <div class="right-chat">
            <!--右边的聊天内容-->
            <div class="chat-title">
                <div class="title">巩慧慧</div>
                <hr/>
            </div>
            <div id="content"></div>
            <div class="tuban">
                <hr/>
                工具栏
                <hr/>
            </div>
            <div class="cin-info">
                <span id="status">Connecting...</span>
                <input type="text" id="input"/>
                <input type="submit" id="enter" value="发  送"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>
