/*作用：各个浏览器不一样，所以对所有的标签设置一些默认属性，统一属性。*/
* {
    padding: 0px;
    margin: 0px;
    /*background-color: #AFB8C1;*/
}

p {
    line-height: 18px;
    padding: 2px;
}

.header {
    /*background: #fff none repeat scroll 0 0;*/
    border-bottom: 1px solid #e8e8e8;
    width: auto;
    height: 60px;
    position: relative;
    z-index: 1000;
}

.bodyer {
    width: 800px;
    height: 450px;
    border-radius: 5px;
    background-color: #EEEEEE;
    /*div标签居中*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: auto;
}
/*.bodyer * {*/
    /*height: 500px;*/
/*}*/

/*左边列表布局*/
.bodyer .left-list {
    background-color: #2E3641;
    width: 200px;
    height: 450px;
    /*border-radius: 5px;*/
    display: inline-block;
}

/*右边的布局*/
.bodyer .right-chat {
    background-color: #EEEEEE;
    display: inline-block;
    float: right;
    height: 450px;
    width: 600px;
    position: relative;
    /*top: 388px;*/
    /*z-index: 1001;*/
}

/*body {*/
/*font-family: tahoma;*/
/*font-size: 12px;*/
/*margin: 10px;*/
/*}*/

/*div {*/
/*width: 600px;*/
/*}*/

/*聊天信息框*/
.bodyer .right-chat #content {
    height: 300px;
    width: 600px;
    /*超出或者溢出隐藏。*/
    overflow:hidden;
    /*padding: 5px;*/
    /*background: #ddd;*/
    /*border-radius: 5px;*/
    /*border: 1px solid #CCC;*/
    /*margin-top: 10px;*/
}

/*输入框*/
.bodyer .right-chat .cin-info {
    position: absolute;
    bottom: 00px;
    left: 00px;
    /*height:60px;*/
}

.bodyer .right-chat .cin-info #input {
    background-color: #EEEEEE;
    border-width: 0px;
    /*border-radius: 2px;*/
    /*border: 1px solid #ccc;*/
    /*margin-top: 10px;*/
    /*padding: 5px;*/
    width: 600px;
    height: 80px;
    /*display: inline;*/
}

.bodyer .right-chat .cin-info #enter {
    /*float: right; （1）绝对定位时以父元素为基准点，进行定位---会脱离文档流。*/
    position: absolute;
    right: 10px;
    bottom: 10px;

    border-radius: 2px;
    border: 1px solid #ccc;
    margin-top: 10px;
    /*padding: 5px;*/
    width: 80px;
    height: 30px;
    display: inline;
}

.bodyer .right-chat .cin-info #status {
    /*width: 100px;*/
    /*display: block;*/
    /*float: left;*/
    /*margin-top: 15px;*/
}

.bodyer .right-chat .chat-title .title {
    text-align: center;
    height: 20px;
    /*align-self: center;*/
    /*align-text: center;*/
}

.bodyer .right-chat .tuban {
    text-align: center;
    /*height: 40px;*/
    /*width: 600px;*/
}
hr{
    background: #51C332;
    height:0.05px;
}